<div class="container">
  <span class="title"
    >Learn about basics of scuba diving, dangers that it can cause, how to
    behave and prepare for those situations. Make scuba diving the best
    experience of your life!</span
  >
  <div class="row align-items-start mt-5">
    <div class="col">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">How to Communicate Underwater</h5>
          <p class="card-text">
            Divers use a universally recognized series of signals to convey
            important messages. The most crucial of these include: OK: Make a
            circle with your first finger and thumb (at close quarters) or make
            a circle by touching the top of your head with one arm (on the
            surface, at a distance). This can be both a question and an answer.
            Descend:Give a thumbs down. Ascend:Give a thumbs up. Stop: Hold one
            hand in front of you, palm facing outwards. Something is wrong: Hold
            one hand flat in front of you, then tilt it from side to side.
            Indicate what is wrong by making this signal and then pointing to
            the problem. Look: Use your index and middle fingers to point at
            your eyes, and then your index finger to point in the desired
            direction. "How much air have you got left?": Hold your index and
            middle fingers together on top of your opposite palm. “I am out of
            air”: Move a flat hand in a slashing motion across your neck.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">How to Control Your Buoyancy</h5>
          <p class="card-text">
            During training, you will learn about positive, negative, and
            neutral buoyancy, all of which are controlled by several factors
            including your breathing, the amount of additional weight you wear,
            and the amount of air in your BCD. To add air to your BCD, press the
            inflate button in short, sharp bursts. When you are underwater, it
            is important to add air slowly so that you can control your
            buoyancy; add it too fast, and you could trigger a dangerous,
            out-of-control ascent. You can also inflate your BCD orally (if you
            have no air left in your cylinder) by holding the inflate button
            down and breathing into the attached mouthpiece. To release air from
            your BCD, press the deflate button. You will need to be upright in
            the water for air to escape properly. All BCDs also have an
            emergency dump valve or two so that you can release air no matter
            your position.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">How to Clear a Flooded Mask</h5>
          <p class="card-text">
            Learning how to clear a flooded mask during training is the key to
            preventing panic (and avoiding a potentially dangerous situation)
            when this happens in open water. During your course, you will need
            to demonstrate that you can clear a partially flooded mask, a fully
            flooded mask, and remove, replace, and clear a mask underwater. Many
            new divers find this stressful, so it is important to remain calm
            and always, always keep breathing. No matter how much water is in
            your mask, the method for clearing it is the same. Breathe deeply
            through your regulator, then use your fingers to hold the top of the
            mask frame in place. Look slightly upwards, and breathe out through
            your nose. The air from your nose will expel the water out of the
            bottom of the mask. Do this as many times as necessary to completely
            clear your mask.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-start mt-5">
    <div class="col">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Scuba Diving Masks</h5>
          <p class="card-text">
            A scuba diving mask may seem like a basic piece of gear, but it’s
            critical that you find a dive mask that is comfortable and properly
            fitted. Your dive mask creates a pocket of air in front of your eyes
            and nose so you can see clearly underwater and equalize the pressure
            on your ears and sinuses as you go deeper. Scuba diving masks are
            among the first pieces of scuba gear that divers need to buy, and
            are their window to the underwater world.
          </p>

          <a href="https://www.divein.com/diving/scuba-masks/"
            >Check best scuba diving masks</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">
            Scuba BCDs (Buoyancy Compensators or Buoyancy Control Device)
          </h5>
          <p class="card-text">
            Scuba BCDs are also called scuba BCs, buoyancy compensators or
            buoyancy control devices. But whatever you call it, know that this
            backpack-like device supports the weight of your tank above water,
            and its most important function is to help you control your position
            in the water column. By adding air to your scuba BCD's internal
            bladder, you rise toward the surface; by venting air from it, you
            sink toward the bottom. There are various types of scuba BCDs, such
            as jacket-style, back-inflate, and back plate and wing, with each
            suiting scuba divers' different preferences and diving styles.
          </p>
          <a href="https://www.divein.com/diving/bcd/"
            >Check best scuba BCDs
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Scuba Diving Regulators</h5>
          <p class="card-text">
            Your scuba regulator lets you breathe underwater. It connects to
            your scuba tank, converting compressed air to breathable air when
            you inhale. An octopus is a backup regulator. It usually has a
            longer hose and a bright yellow body so it's easy to find and can be
            used by others in an emergency.
          </p>
          <a href="https://www.divein.com/diving/scuba-regulator/"
            >Check best scuba diving regulators
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
