<div class="content">
  <form [formGroup]="form" class="forma">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="username" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
    </div>
    <button type="submit" (click)="login()" class="btn btn-dark">Log in</button>
  </form>
</div>
